/* Main container for events */
.top-booked-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0px 200px;
  gap:2rem;
  margin-bottom: 100px;

  
}
body{
    margin-top: 60px;
}
h2,h3{
    text-align: center;
    color: #fff;
}

/* Individual event card */
.top-booked-card {
  background-color: rgb(250, 247, 247); /* Same color for all cards */
  color:black; /* White text */
  border-radius: 10px;
  padding: 15px;
  width: 220px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items:center;
  position: relative;
  
}
.top-booked-card:hover{
   background-color: rgb(185, 223, 247);  
}

/* Buttons */
.top-booked-card button {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  background-color:   #1976d2;
; /* orange button */
  color: #fff;
  cursor: pointer;
  width: 50%;
}

.top-booked-card button:hover {
  background-color:#115293;
  
}

/* Input box */
.top-booked-card input[type="number"] {
  margin-top: 10px;
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

/* Messages */
.message.success {
  color:green;
  margin-top: 5px;
}

.message.error {
  color: #ff4d4d;
  margin-top: 5px;
}

/* Top booked container */
.top-booked-container h3 {
  margin-top: 25px;
  margin-bottom: 30px;
}

.top-booked-card span {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffd700; /* gold for top event badge */
  color: #000;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 0.8em;
}
