.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-align: center;
  background-color: white;
}
body{
  background-color: #1976d2;

}
.login-label{
    text-align: left;
}

.login-title {
  margin-bottom: 20px;
  color:black;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  padding: 8px;
  margin-bottom: 12px;
  font-size: 14px;
}

.login-button {
  padding: 8px;
  background-color: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.login-button:hover {
  background-color: #115293;
}

.login-error {
  color: red;
  margin-top: 10px;
}


@media screen and (max-width: 600px) {
  body {
    align-items: flex-start;
    padding-top: 60px;
  }

  .login-container {
    width: 90%;
    max-width: 320px;
  }

  .login-form {
    width: 100%;
  }
}

 
    

